{%  extends 'main/layout.html' %}

{% block title %}Главная{% endblock  %}

{% block content %}
    <div class="prof-description">
        <section>
            <p><b>Инженер-программист</b> (<i>Software Engineer</i>) создает программное обеспечение (software – софт),
            предназначенное для операционных систем вычислительных машин.</p>
            <p>Профессия относится к типу <i>«человек – знаковая система»</i>, подойдет тем, кто любит изучать информатику и математику.</p>
            <p>Кстати, недавно центр профориентации ПрофГид разработал точный тест на профориентацию, который сам расскажет, какие профессии вам подходят,
            даст заключение о вашем типе личности и интеллекте. Профессия подходит тем, кого интересует <strong>физика</strong>, математика</strong> и <strong>информатика</strong></p>
        <p>Инженеры-программисты проектируют, разрабатывают, совершенствуют и тестируют разнообразные программные продукты.
            Инженеру необходимо высшее образование, выпускникам профильных вузов присваивается квалификация <i>«техник-программист»</i>.</p>
        </section>
        <section>
        <h1>Фишки профессии:</h1>
        <p>Главная задача инженера-программиста – разрабатывать удобное в использовании, надежное, высоко функциональное ПО.
            Он должен одинаково хорошо разбираться в инженерии и программировании и проектировать программное обеспечение так, чтобы потом его было просто поддерживать и модифицировать.</p>
        <h1>Отличия инженера-программиста от других IT'шников</h1>
            <ul>
                <li>
                    <p><b>Программный инженер</b> решает намного более сложные задачи, чем программер (programmer) или разработчик (developer).
                    Инженеру надо понимать структуру ПО, создавать надежные и безопасные программы, которые будут работать на любом компьютере и решать сразу несколько задач.
                    Он может доработать уже имеющуюся архитектуру, предусмотреть возможные проблемы и найти их решение.</p>
                </li>
                <li>
                    <p><b>Разработчик</b> – это чаще всего технический исполнитель того, что запланировал инженер-программист.
                    Девелопер соединяет уже готовые компоненты ПО в правильном порядке – так, чтобы <i>«всё работало»</i>.
                    Пока программисты доводят до совершенства чистоту кода, разработчики изобретают <i>«костыли»</i>, чтобы поддержать работоспособность ПО.
                    </p>
                </li>
                <li>
                    <p>Программист, как правило, не занимается проектированием.
                    <b>Программисты</b> – это создатели кода. Это математики с глубокими знаниями алгоритмизации, владеющие как минимум <mark>тремя-четырьмя</mark> языками программирования.
                    Им важно написать продуманный и свободный от ошибок код. Лучше программиста это умеет делать только инженер-программист.
                    </p>
                </li>
            </ul>
        </section>
    </div>
{% endblock %}