{%  extends 'main/layout.html' %}

{% block title %}Востребованность{% endblock  %}

{% block content %}
    <div class="needs-content">
        <section class="G1">
            <img src="./static/main/img/graph1.png" alt="graph1">
        </section>
        <section class="G2">
            <img src="./static/main/img/graph2.png" alt="graph2">
        </section>
        <section class="G3">
            <img src="./static/main/img/graph3.png" alt="graph3">
        </section>
        <section class="G4">
            <img src="./static/main/img/graph4.png" alt="graph4">
        </section>
        <section class="table-1">
            <embed  src="./static/main/img/1.pdf#toolbar=0" width="40%" height="550px" type="application/pdf">
        </section>
    </div>
{% endblock %}